.footer {
  position: relative;
  padding: 20px 0 40px;
  @media (max-width: 2156px) {
    background-image: url('../img/footer.png');
    background-size: auto;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  @media (max-width: 574px) {
    padding: 20px 0 20px;
    background-size: cover;
    background-position: center bottom;
  }
  // .footer__container
  &__container {
    padding: 0;
  }
  // .footer__body
  &__body {
  }
  // .footer__menu
  &__menu {
  }
}

.menu {
  // .menu__body
  &__body {
  }
  // .menu__list
  &__list {
    display: flex;
    align-items: center;
    justify-content: center;
    @media (max-width: 574px) {
      flex-wrap: wrap;
    }
  }
  // .menu__item
  &__item {
    @media (max-width: 574px) {
      display: flex;
      justify-content: center;
      flex: 0 1 25%;
      margin-bottom: 10px;
    }
    @media (max-width: $md4 + px) {
      flex: 0 1 33.333%;
    }
  }
}

.item-menu {
  position: relative;
  text-align: center;
  @include adaptiv-value("padding-left", 37, 2, 1);
  @include adaptiv-value("padding-right", 37, 2, 1);
  &:not(:last-child) {
    &::before {
      content: '';
      position: absolute;
      top: calc(50% - 25px);
      right: -10px;
      width: 20px;
      height: 50px;
      background: url('../img/nav/nav_decor.png') center /contain no-repeat;
    }
  }
  @media (max-width: $md3 + px) {
    &::before {
      display: none;
    }
  }
  transition: filter .25s ease 0s;
  &:hover {
    filter: brightness(120%);
  }
  // .item-menu__link
  &__link {
    &:hover {
      .item-menu__image {
        transform: translateY(-5px);
      }
      .item-menu__title {
        color: $color_orange;
        text-shadow:
          // 0 0 5px #fff,
          0 0 10px $color_orange,
          0 0 15px $color_orange,
          0 0 20px $color_orange;
      }
    }
  }
  // .item-menu__image
  &__image {
    @include adaptiv-value("width", 123, 70, 1);
    @include adaptiv-value("height", 105, 56, 1);
    transition: transform .3s ease 0s;
    picture {
      width: 100%;
      height: 100%;
    }
    img {
      max-width: 100%;
    }

    @media (max-width: 574px) {
      width: 70px;
      height: 70px;
    }
  }
  // .item-menu__title
  &__title {
    @include adaptiv-value("font-size", 14, 12, 1);
    line-height: math.div(24, 14) * 100%;
    color: #fff;
    text-transform: uppercase;
    transition: all .3s ease 0s;
    @media (max-width: $md1 + px) {
      margin-top: 20px;
    }
    @media (max-width: $md2 + px) {
      margin-top: 15px;
    }
    @media (max-width: $md3 + px) {
      margin-top: 10px;
    }
    @media (max-width: 574px) {
      margin-top: 0;
    }
  }
}
